{% extends 'base.html.twig' %}


{% block title %}Contact index

{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table id="contactsTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_contact_show', {'id': contact.id}) }}" >show</a>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_contact_edit', {'id': contact.id}) }}" >edit</a><br>
                    {{ include('contact/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}">Create new</a>

    
    <script>
        $(document).ready(function() {
            $('#contactsTable').DataTable();
        });
    </script>

{% endblock %}
